<div class="col-md-12 col-sm-12 third-container" id="ute_div">
  <div class="col-md-4 col-sm-4 line">
    <p class="big_title"><span id="caret3" class="glyphicon glyphicon-chevron-down" onclick="this.className = (this.className == 'glyphicon glyphicon-chevron-down' ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down')">
      </span> &nbsp; &nbsp;1.3 rear setup  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (ute)
    </p>
  </div>
  <div class="col-md-7 col-sm-7">
    <p class="size2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      <span class="more">More information<span id="caret3" class="caret">
      </span></span>
    </p>
  </div>
  <div class="photo2" id="ute_question"><%= image_tag 'qestion.png' %></div>
</div>

<div class="col-md-12 col-sm-12 second-container-gray" id="hid4">
  <div class="col-md-6 col-sm-6">
    <div class="radio">
      <label for="canopy">
      <input id="canopy" name="canopy" type="radio" value="80" />&nbsp; &nbsp;CANOPY
      </label> 
    </div>
    <div class="radio">
      <label for="steel_canopy">
      <input id="steel_canopy" name="canopy" type="radio" value="100" />&nbsp; &nbsp;STEEL CANOPY
      </label> 
    </div>
    <div class="radio">
      <label for="steel_tray">
      <input id="steel_tray" name="steel_tray" type="checkbox" value="300" />&nbsp; &nbsp;STEEL TRAY
      </label> 
    </div>
    <div class="radio">
      <label for="range_rank">
      <input id="range_rank" name="range_rank" type="checkbox" value="100" />&nbsp; &nbsp;LONG RANGE RANK
      </label> 
    </div>
    <div class="radio">
      <label for="steel_roof_rack">
      <input id="steel_roof_rack" name="roof_rack" type="radio" value="38" />&nbsp; &nbsp;STEEL ROOF RACK
      </label> 
    </div>
    <div class="radio">
      <label for="alloy_roof_rack">
      <input id="alloy_roof_rack" name="roof_rack" type="radio" value="25" />&nbsp; &nbsp;ALLOY ROOF RACK
      </label> 
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="radio">
      <label for="roof_top_tent">
      <input id="roof_top_tent" name="roof_top_tent" type="checkbox" value="50" />&nbsp; &nbsp;ROOF TOP TENT
      </label> 
    </div>
    <div class="radio">
      <label for="drawer_system">
      <input id="drawer_system" name="drawer_system" type="checkbox" value="80" />&nbsp; &nbsp;DRAWER SYSTEM
      </label> 
    </div>
    <div class="radio">
      <label for="battery_in_rear">
      <input id="battery_in_rear" name="battery_in_rear" type="checkbox" value="20" />&nbsp; &nbsp;SECONDARY BATTERY IN REAR
      </label> 
    </div>
    <div class="radio">
      <label for="luggage_rear">
      <input id="luggage_rear" name="luggage_rear" type="checkbox" value="LUGGAGE" />&nbsp; &nbsp;LUGGAGE &nbsp;<input class="spec1" id="luggage_rear_ute" placeholder="Weight"/>&nbsp;Kg
      </label> 
    </div>
    <div class="radio">
      <label for="tank_rear">
      <input id="tank_rear" name="tank_rear" type="checkbox" value="WATER TANK" />&nbsp; &nbsp;WATER TANK &nbsp;<input class="spec1" id ="tank_rear_ute" placeholder="Litres"/>&nbsp;Litres
      </label> 
    </div>
    <div class="radio">
      <label for="other_rear">
      <input id="other_rear" name="other_rear" type="checkbox" value="OTHER"/>&nbsp; &nbsp;OTHER TOTAL WEIGHTS<input class="spec1" id="other_rear_ute" placeholder="Weight"/>&nbsp;Kg
      </label> 
    </div>
  </div>
  <div class="reset">
    <label for="reset_rear_ute"><input id="reset_rear_ute" name="reset_rear_ute" type="checkbox"/>&nbsp; &nbsp;Clear Data
    </label>
  </div>
</div>