<div class="col-md-12 col-sm-12 third-container" id="wagon_div">
  <div class="col-md-4 col-sm-4 line">
    <p class="big_title"><span id="caret2" class="glyphicon glyphicon-chevron-down" onclick="this.className = (this.className == 'glyphicon glyphicon-chevron-down' ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down')">
      </span> &nbsp; &nbsp;1.3 rear setup  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (wagon)
    </p>
  </div>
  <div class="col-md-7 col-sm-7">
    <p class="size2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      <span class="more">More information<span id="caret2" class="caret">
      </span></span>
    </p>
  </div>
  <div class="photo2" id="wagon_question"><%= image_tag 'qestion.png' %></div>
</div>

<div class="col-md-12 col-sm-12 second-container-gray" id="hid3">
  <div class="col-md-6 col-sm-6">
    <div class="radio">
      <label for="drawer">
      <input id="drawer" name="drawer_system" type="checkbox" value="80" />&nbsp; &nbsp;DRAWER SYSTEM
      </label> 
    </div>
    <div class="radio">
      <label for="long">
      <input id="long" name="fuel_tank" type="checkbox" value="100" />&nbsp; &nbsp;LONG RANGE FUEL TANK
      </label> 
    </div>
    <div class="radio">
      <label for="stell_bar">
      <input id="stell_bar" name="stell_bar" type="radio" value="50" />&nbsp; &nbsp;REAR STEEL BAR
      </label> 
    </div>
    <div class="radio">
      <label for="stell_bar_single">
      <input id="stell_bar_single" name="stell_bar" type="radio" value="90" />&nbsp; &nbsp;REAR STEEL BAR WITH SINGLE CARRIER
      </label> 
    </div>
    <div class="radio">
      <label for="steel_bar_dual">
      <input id="steel_bar_dual" name="stell_bar" type="radio" value="130" />&nbsp; &nbsp;REAR STEEL BAR WITH DUAL CARRIERS
      </label> 
    </div>
    <div class="radio">
      <label for="secondary_battery">
      <input id="secondary_battery" name="secondary_battery" type="checkbox" value="20" />&nbsp; &nbsp;SECONDARY BATTERY
      </label> 
    </div>
    <div class="radio">
      <label for="fridge">
      <input id="fridge" name="fridge" type="checkbox" value="50" />&nbsp; &nbsp;FRIDGE
      </label> 
    </div>
  </div>
  <div class="col-md-6 col-sm-6">
    <div class="radio">
      <label for="steel_roof">
      <input id="steel_roof" name="roof" type="radio" value="45" />&nbsp; &nbsp;STEEL ROOF RACK
      </label> 
    </div>
    <div class="radio">
      <label for="alloy_roof">
      <input id="alloy_roof" name="roof" type="radio" value="30" />&nbsp; &nbsp;ALLOY ROOF RACK
      </label> 
    </div>
    <div class="radio">
      <label for="roof_tent">
      <input id="roof_tent" name="roof_tent" type="checkbox" value="50" />&nbsp; &nbsp;ROOF TOP TENT
      </label> 
    </div>
    <div class="radio">
      <label for="laggage">
      <input id="laggage" name="laggage" type="checkbox" value="LUGGAGE" />&nbsp; &nbsp;LUGGAGE &nbsp;<input class="spec1" id="laggage2" placeholder="Weight"/>&nbsp;Kg
      </label> 
    </div>
    <div class="radio">
      <label for="tank">
      <input id="tank" name="water_tank" type="checkbox" value="WATER TANK" />&nbsp; &nbsp;WATER TANK &nbsp;<input class="spec1" id= "water_tank" placeholder="Litres"/>&nbsp;Litres
      </label> 
    </div>
    <div class="radio">
      <label for="rear_other">
      <input id="rear_other" name="rear_other" type="checkbox" value="OTHER"/>&nbsp; &nbsp;OTHER TOTAL WEIGHTS<input class="spec1" id ="rear_other_weight" name="rear_other_weight" placeholder="Weight"/>&nbsp;Kg
      </label> 
    </div>
  </div>
  <div class="reset">
    <label for="reset_rear_wagon"><input id="reset_rear_wagon" name="reset_rear_wagon" type="checkbox"/>&nbsp; &nbsp;Clear Data
    </label>
  </div>
</div>