<div id="sidebar_whole">
  <div class="col-md-12 col-sm-12 fix2">
    <div class="col-md-12 col-sm-12 sub-menu">
      <p class="title_first">YOUR SUSPENSION KIT</p>
      <div class="col-md-8 col-sm-8 online">
        <button type="submit" id="submit_quote1">Add to Online Quote</button>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 fix" id="sidebar">
    <div class="col-md-12 col-sm-12 sub-menu">
      <p class="title_first">SPECIFICATIONS</p>
      <label>Vehicle:</label>
      <div class="vehicle_selected" id="vehicle_selected"></div>  
      <div class="veh"></div>          
      
      <div class="front">
        <label>FRONT SPRINGS:</label>
        <div class="vehicle_selected" id="front_spring_product_id"></div>
      </div>

      <div class="reare">
        <label>
          REAR SPRINGS:
          <div class="vehicle_selected" id="rear_spring_product_id"></div>
        </label>
      </div>

      <div class="front_shock">
        <label>
          FRONT SHOCK:
          <div class="vehicle_selected" id="front_shocks_product_id"></div>
        </label>
      </div>

      <div class="reare_shock">
        <label>
          REAR SHOCK:
          <div class="vehicle_selected" id="rear_shocks_product_id"></div>
        </label>
      </div>

      <div class="manadatory">
        <label>
          MANDATORY COMPONENTS:
          <div class="vehicle_selected" id="mandatory_product_id"></div>
        </label>
      </div>

      <div class="optional">
        <label>
          OPTIONAL COMPONENTS:
          <div class="vehicle_selected" id="optional_product_id"></div>
        </label>
      </div>

      <div class="col-md-12 col-sm-12 sub-menu">
        <div class="col-md-7 col-sm-7 online2">
          <button type="submit" id="submit_quote2">Add to Online Quote</button>
        </div>
      </div>
    </div>
  </div>
</div>