<% content_for :photo_slideshow do %>
  <% if @page.present? and @page.images.present? %>
  <div u="slides" class='gallery<%= ' multiple' if @page.images.size > 1 %>'>
    <% @page.images.each do |image| %>
    <div class="slide"><%= image_tag(image.thumbnail(geometry: "1920x480").url, u:'image') %></div>
   <% end %>
  </div>

  <% if @page.images.size > 1 %>
  <div u="navigator" class="jssorb16">
      <div u="prototype"></div>
  </div>

  <span u="arrowleft" class="jssora02l"></span>
  <span u="arrowright" class="jssora02r"></span>
  <% end %>

  <% end %>
<% end %>

<div class="container">
<%= render_content_page(@page, {
      :hide_sections => local_assigns[:hide_sections],
      :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]
    }) %>
<%= render '/refinery/draft_page_message' unless @page.try(:live?) or @page.nil? -%>
</div>
