/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require products
 *= require blog
 *= require media_releases
 *= require glasscase/glasscase
 */

@import "bootstrap-config";
@import "bootstrap";

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h5 {
  color: $green;
  font-family: $font-family-extra-bold;
  text-transform: uppercase;
}

.navbar-default {
  .navbar-nav {
    > li > a {
      text-transform: uppercase;
    }
  }
}

hr.double {
  border-bottom: 1px solid $hr-border;
  height: 5px;
}


.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
.col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}


.postcode-search {
  &.navbar-form {
    float: right;
    margin-bottom: 10px;

    input.form-control {
      @include search-input;

      border-radius: 0;
      border-color: $dark-grey;
      background-color: $white;
      font-size: $font-size-smallish;
    }

    .btn {
      border-radius: 0;
      background-color: $green;
      border-color: $dark-grey;
      color: $white;
    }
  }
}

/* new class, so submit button in navbar can be grouped with search input */
.navbar-input-group {
  @media (min-width: $screen-sm) {
    font-size: 0px; /*removes whitespace between button and input*/

    input {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .btn {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: 0px;
    }
  }
  @media (max-width: $screen-xs-max) {
    margin-top:0px;
    margin-bottom:0px;

    .btn {
      width:100%;
    }
  }
}

#site_bar_content {
  @media (max-width: $screen-xs-max) {
    width: 100% ! important;

    #editor_switch {
      padding-left: 10px;
    }

    #site_bar_branding {
      padding-right: 10px;
    }
  }
}

#layout-first-nav {
  font-size: $font-size-smallish;
  margin-bottom: 0;

  .navbar-input-group {
    &.navbar-form {
      padding-right: 0;
    }

    input.form-control {
      @include search-input;

      border-radius: 0;
      border-color: $dark-grey;
      background-color: $white;
      font-size: $font-size-smallish;
    }

    .btn {
      border-radius: 0;
      background-color: $dark-grey;
      border-color: $dark-grey;
      color: $white;
    }
  }
}

#layout-top-navigation {
  padding-right: 0;
}

#layout-second-nav {
  margin-bottom: 0;

  .logo {
    width: 244px;
    height: 116px;
    background-color: $white;
    text-indent: -99999px;
    background-image: image-url('nav_logo.png');
    vertical-align: top;
  }

  ul.sections {
    margin-top: 10px;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
    float: left;

    li {
      display: inline-block;
      text-align: center;
      width: 104px;
      text-transform: uppercase;
      font-size: 16px;

      a {
        display: block;
        color: $dark-grey;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#layout-photo-slideshow {
  height: 290px;
  background-color: $light-grey;

  & > div > div {
    height: 100%;
    width: 100%;
  }

  position: relative;
  top: 0px;
  left: 0px;

  .gallery {
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;

    &.multiple {
      cursor: move;
    }
  }

  /* jssor slider bullet navigator skin 16 css */
  /*
  .jssorb16 div           (normal)
  .jssorb16 div:hover     (normal mouseover)
  .jssorb16 .av           (active)
  .jssorb16 .av:hover     (active mouseover)
  .jssorb16 .dn           (mousedown)
  */
  .jssorb16 {
    position: absolute;
    bottom: 16px;
    left: 6px;

    div[u=prototype] {
      position: absolute;
      width: 21px;
      height: 21px;
    }
  }
  .jssorb16 div, .jssorb16 div:hover, .jssorb16 .av {
      background: image-url('jquery-slider/b16.png') no-repeat;
      overflow:hidden;
      cursor: pointer;
  }
  .jssorb16 div { background-position: -5px -5px; }
  .jssorb16 div:hover, .jssorb16 .av:hover { background-position: -35px -5px; }
  .jssorb16 .av { background-position: -65px -5px; }
  .jssorb16 .dn, .jssorb16 .dn:hover { background-position: -95px -5px; }

  /* jssor slider arrow navigator skin 02 css */
  /*
  .jssora02l              (normal)
  .jssora02r              (normal)
  .jssora02l:hover        (normal mouseover)
  .jssora02r:hover        (normal mouseover)
  .jssora02ldn            (mousedown)
  .jssora02rdn            (mousedown)
  */
  .jssora02l {
    width: 55px;
    height: 55px;
    top: 123px;
    left: 8px;
  }
  .jssora02r {
    width: 55px;
    height: 55px;
    top: 123px;
    right: 8px
  }
  .jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    background: image-url('jquery-slider/a02.png') no-repeat;
    overflow:hidden;
  }
  .jssora02l { background-position: -3px -33px; }
  .jssora02r { background-position: -63px -33px; }
  .jssora02l:hover { background-position: -123px -33px; }
  .jssora02r:hover { background-position: -183px -33px; }
  .jssora02ldn { background-position: -3px -33px; }
  .jssora02rdn { background-position: -63px -33px; }
}

#layout-fit-my-car {
  min-height: 88px;
  background-color: $dark-grey;
  background-image: image-url('bg_fit_my_car.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  .icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
  }

  .vehicle-selector {
    margin-top: 24px;
    display: inline-block;
    float: right;

    .selector {
      display: inline-block;
      height: 41px;
      box-sizing: border-box;
      background-color: $white;
      border: 1px solid $black;
      vertical-align: top;

      &.go {
        background-color: $green;
        color: $white;
        border-radius: 4px;
        text-transform: uppercase;
      }
    }

    @media (max-width: $screen-xs-max) {
      display: block;
      float: none;

      .selector, .go {
        width: 100%;
        display: block;
        margin-bottom: $grid-gutter-width / 4;
      }
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      .make {
        width: 100px;
        margin-right: 16px;
      }

      .model {
        width: 181px;
        margin-right: 16px;
      }

      .series {
        width: 104px;
        margin-right: 16px;
      }

      .go {
        width: 54px;
      }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      .make {
        width: 190px;
        margin-right: 16px;
      }

      .model {
        width: 301px;
        margin-right: 16px;
      }

      .series {
        width: 104px;
        margin-right: 16px;
      }

      .go {
        width: 54px;
      }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      .make {
        width: 207px;
        margin-right: 16px;
      }

      .model {
        width: 371px;
        margin-right: 16px;
      }

      .series {
        width: 104px;
        margin-right: 16px;
      }

      .go {
        width: 54px;
      }
    }
  }
}

#layout-social {
  min-height: 88px;
  background-color: $dark-grey;
  background-image: image-url('bg_fit_my_car.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  .icons {
    margin-top: 20px;
    display: inline-block;
    list-style-type: none;
    padding: 0;

    .icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 28px;

      a {
        display: inline-block;
      }
    }
  }

  form {
    display: inline-block;
    float: right;
    margin-top: 10px;

    .description {
      text-align: left;
    }

    input {
      @include search-input;
      display: inline-block;
      height: 41px;
      width: 513px;
      box-sizing: border-box;
      background-color: $white;
      border: 1px solid $dark-grey;
      color: $dark-grey;
      border-radius: 0;
    }

    .input-group-btn {
      width: auto;

      .go {
        border: 1px solid $dark-grey;
        height: 41px;
        background-color: $green;
        color: $white;
        border-radius: 0;
        text-transform: uppercase;
      }
    }
  }
}

#layout-categories {
  background-color: $lighter-grey;

  .categories {
    margin-top: $line-height-computed*1.5;
    margin-bottom: $line-height-computed;
    -moz-column-gap: 28px;
    -webkit-column-gap: 28px;
    column-gap: 28px;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }

    .category {
      list-style-type: none;
      padding: 0;
      display: inline-block;
      width: 100%;

      a {
        color: $dark-grey;
        &:hover {
          text-decoration: underline;
        }
      }

      .top-level {
        font-family: $font-family-bold;
      }
    }
  }
}

#layout-footer {
  background-color: $green;
  color: $white;
  padding-top: $line-height-computed;

  dl {
    vertical-align: top;

    dt {
      font-family: $font-family-bold;
    }

    a {
      color: $white;
      &:hover {
        color: $black;
      }
    }
  }
}

#layout-acknowledgements {
  background-color: $white;
  color: $dark-grey;

  min-height: 64px;
  line-height: 64px;

  .copyright {
    display: inline-block;
    float: left;
  }

  .designed_by {
    display: inline-block;
    float: right;
  }
}

#layout-heading {
  height: 88px;
  background-color: $lighter-grey;

  @media (max-width: $screen-xs-max) {
    height: auto;
  }

  .page-header {
    font-family: $font-family-extra-bold;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 0;
    margin: 0;
    line-height: 88px;
    border: none;
    color: $green;
  }

  .icons {
    float: right;
    margin-top: 27px;
    display: inline-block;
    list-style-type: none;
    padding: 0;
  }
}

#layout-breadcrumbs {
  .breadcrumb {
    padding-left: 0;
    background-color: $white;
    font-size: 70%;
    color: $medium-grey;

    &> li + li:before {
      /*content: "/\00a0";*/
      /*padding: 0 5px;*/
      content: "\2192";
      color: $medium-grey;
    }

    a {
      color: $medium-grey;
    }
  }
}

#layout-main {
  @media (min-width: $screen-sm-min) {
    min-height: 250px;
  }
}

#home {
  .first-row {
    margin-bottom: $line-height-computed;
  }

  .content {
    padding-left: 0;

    .container {
      width: auto;
      padding: 0;

      p {
        font-size: 17px;
      }
    }
  }

  .find-local-stockist {
    padding-right: 0;

    h3 {
      text-transform: uppercase;
    }

    .map {
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 193px;
    }

    .postcode-search {
      width: 100%;
      margin: 0;
      padding: 0;

      .flexbox & {
        display: flex;
        .form-group {
          &, input {
            width: 100%;
          }
        }
      }
    }
  }

  .products {
    margin-bottom: $line-height-computed;

    .product {
      &:first-child {
        padding-left: 0;
      }
      padding-left: 20px;
      padding-right: 20px;
    }

    .post {
      padding-left: 20px;
      padding-right: 0;
    }

    .product, .post {
      overflow: hidden;

      a, a:hover {
        color: $dark-grey;
      }

      h3 {
        font-family: $font-family-extra-bold;
        color: $green;
        text-transform: uppercase;
      }

      .photo {
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 193px;
      }
    }
  }

  .categories {
    background-color: $lightest-grey;
    margin-bottom: $line-height-computed;

    .container {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .category {
      overflow: hidden;

      &:first-child {
        padding-left: 0;
      }

      .photo {
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 120px;
        position: relative;

        .name {
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba($dark-grey, 0.7);
          width: 100%;
          font-family: $font-family-bold;
          text-transform: uppercase;
          text-align: center;
          color: white;
          line-height: 25px;
        }
      }
    }
  }
}
