@import "bootstrap-config";

#submit-enquiry {
  .form-group {
    &.receive-news {
      margin-bottom: 0;
    }

    @media (max-width: $screen-xs-max) {
      &>label, &>.fieldWithErrors>label {
        padding-left: 0;
        padding-right: 0;
      }

      .control {
        padding-left: 0;
        padding-right: 0;
      }

      &.vehicle-select {
        .control {
          margin-bottom: $grid-gutter-width / 2;
          &.last {
            margin-bottom: 0;
          }
        }
      }
    }

    @media (min-width: $screen-sm-min) {
      &>label, &>.fieldWithErrors>label {
        padding-left: 0;
      }

      .control.single, .control.last {
        padding-right: 0;
      }
    }

    .actions {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .call {
    .green {
      font-family: $font-family-bold;
    }

    margin-bottom: $grid-gutter-width;
  }
}
