
.main{

	background: #D4D1D1;
	padding: 0px;
	.text{
		padding-left: 0px;
	}


	#hid{
		padding: 15px;
	}
	#hid,
	#hid1,
	#hid2,
	#hid3,
	#hid4,
	#hid5,
	#hid6,
	#hid7,
	#hid8{
		display: none;

	}
	.first-container,
	.second-container,
	.third-container,
	.four-container,
	.fifth-container,
	.six-container,
	.seven-container{
		background: #9ebb24;
		border-radius: 10px 10px 0 0;
		margin-top: 10px;
	}
	.smalll{
		font-size: 12px;
	}
	.sub-menu{
		padding: 5px;

	}
	#radio1,
	#radio22{
		font-size: 25px;
	}
	.fix{
		margin: 5px;
		width: 286px;
		background-color: white;

	}
	.fix2{
		margin: 5px;
		width: 286px;
		background-color: white;
		padding-bottom: 10px;
	}
	.fixed {
		position: fixed;
		top: 10px; 
		z-index: 9999; 
	}
	.container-fix {
		height: 430px; 
	}
	.size{
        padding-top: 7px;
        color: white;
        font-weight: 900;
	}
	.intext{
		text-align: center;
		margin-left: 7px;
		border-radius: 5px;
	}
	.list{
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	.list2{
		margin-top: 15px;
		padding-bottom: 10px;

	}
	#rezultat{
		display: inline;
		padding-left: 10px;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555555;

	}
	h1{
		color: black;
		font-weight: 100;
	}
	h3{
		color: white;
	}
	.cont_price{
		color: black;
	}
	.second-container-gray{
		background-color: #D4D1D1;
		border-radius: 0 0 10px 10px;
		padding-left: 4%;
	}
	.caret{
		border-top: 10px solid;
	}
	.line{
	    border-right: 2px solid white; 
        margin-right: 20px;
        padding-right: 10px;
    }
    .big_title{
    	color: white;
    	font-size: 18px;
    	vertical-align: middle;
    	padding-top: 15px;
    	text-transform: uppercase;
        font-weight: 900;
        padding-bottom: 7px;
    }
    .more{
    	color: dimgrey;
    	font-weight: 600;
    }
	.size2{
		padding-top: 20px;
		color: white;
        font-weight: 900;
	}
	.photo{
		padding-top: 10px;
	}
	.photo2{
		padding-top: 20px;
	}
	.title_first,
	#rezultat,
	{
		color: black;
		font-size: 22px;
		padding-top: 15px;
		font-weight: 900;
	}
	.spec{
		width: 130px;
		margin: 5px;
	}
	.spec1{
		width: 80px;
	}
    .photo3{
      display: inline-flex;
	}
	.veh, 
	.total, 
	.optional, 
	.manadatory, 
	.reare_shock, 
	.front_shock, 
	.reare, 
	.front{ 
    border-bottom: 2px solid #ccc; 
    margin-bottom: 20px;
    padding-bottom: 10px;
   }
   .online{
   	padding: 0;
   	position: relative;
    top: -20px;
    left: 34px;
   }
   .bottom_price{
   	    color: black;
	  	font-size: 16px;
		font-weight: 900;
		display: inline-block;
		float: right;
   }
   .title_price2{
   	color: black;
    font-size: 16px;
    font-weight: 900;
    display: initial;
    position: relative;
    left: 53%;
   }
   #rezultat2{
   	   	color: black;
    font-size: 16px;
    font-weight: 900;
    display: initial;
    position: relative;
    left: 55%;
   }
   .online2{
   	padding: 0;
   	font-size: small;
   	color: black;
   }
   .smalll2{
   	position: relative;
   	left: 70%;
   }
   .separator{
   	padding-top: 10%;
   }
   .bl1,
   .bl2,
   .bl3,
   .bl4,
   .bl5,
   .bl6,
   .tr1,
   .tr2,
   .tr3,
   .tr4,
   .tr5,
   .tr6,
   .tr7,
   .tr8,
   .tr9,
   .tr10,
   .tr11,
   .tr12,
   .tr13,
   .tr14,
   .tr15,
   .tr16,
   .tr17,
   .tr18,
   .tr19,
   .tr20,
   .tr21,
   .tr22,
   .tr23,
   .tr24,
   .tr25,
   .fs1,
   .fs2,
   .fs3,
   .rs1,
   .rs2,
   .rs3,
   .extra1_1,
   .extra1_2,
   .extra1_3,
   .extra1_4,
   .extra1_5,
   .extra1_6,
   .extra1_7,
   .extra1_8,
   .extra1_9,
   .extra1_10,
   .extra1_11,
   .extra1_12,
   .extra1_13,
   .extra1_14,
   .extra1_15,
   .extra1_16,
   .extra1_17,
   .extra1_18,
   .extra1_19,
   .extra1_20,
   .extra1_21,
   .extra1_22,
   .extra1_23,
   .extra1_24{
   	font-size: 10px;
   	padding-left: 10px;
   }
}
