@import "bootstrap-config";
@import "bootstrap/mixins";

.fitting-instructions-filters {
  margin-top: $grid-gutter-width * 0.75;
}

.featured-categories {
  margin-top: $grid-gutter-width/2;
  background-color: $lighter-grey;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    max-height: 517px;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    max-height: 973px;
  }

  @media (min-width: $screen-lg-min) {
    max-height: 975px;
  }
}

.featured-categories, .container.categories {
  h3 {
    margin-bottom: $grid-gutter-width/2;
  }
}

.container.category-filters {
  h3 {
    margin-bottom: $grid-gutter-width;
  }
}

h3.category-product-products {
  margin-bottom: $grid-gutter-width*1.5;
}

.is-australia {
  #page-product-list {
    .product-container {
      .product {
        .price {
          display: block;
        }
      }
    }
  }

  #page-product {
    .product-overview {
      .price {
        display: block;
      }
    }
  }

  #wishlist {
    #wishlist-review {
      .row.item, .row.header {
        .rrp, .subtotal {
          display: block;
        }
      }

      .row.update {
        .price-note {
          display: block;
        }
      }

      .row.total {
        display: block;
      }
    }

    #wishlist-stockist {
      .international {
        display: none;
      }
      .australian {
        display: block;
      }
    }

    #wishlist-submission {
      .row {
        .net-amount {
          display: block;
        }
      }
    }
  }

  #product-list-condensed, &#search-results-page {
    .product {
      .price {
        display: block;
      }
    }

    .popover {
      .popover-content {
        .price {
          display: block;
        }
      }
    }
  }
}

.vehicle-bar {
  &.two-lines {
    @include line-clamp($font-size-base, $line-height-base, 2, 2px, 2px);
  }

  .vehicle-name {
    background-color: $green;
    color: $white;
    text-transform: uppercase;
    padding: 2px 4px;
  }
}

#product-list-condensed, #search-results-page {
  .vehicle-bar {
    background-color: $green;
    color: $white;
    text-transform: uppercase;
    padding: 2px 4px;
  }

  .popup-template {
    display: none;
  }

  .product {
    .price {
      display: none;
    }
  }

  .popover {
    @include box-shadow(0 5px 10px rgba(0,0,0,.4));

    .popover-content {
      img {
        margin-bottom: $grid-gutter-width/2;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .product-no {
      }
      .price {
        display: none;
        font-size: 26px;
        small {
          font-size: 10px;
        }
      }
    }
  }
}

#page-product-categories, #page-product-list {
  margin: 0;
  padding: 0;

  &.fitting-instructions {
    .product-container {
      .product {
        .content {
          h3 {
            font-family: $font-family-bold;
          }

          .buttons {
            .view-fitting-instructions {
              margin-top: $grid-gutter-width;
            }
          }
        }
      }
    }
  }

  .category-container, .product-container {
    padding-bottom: $grid-gutter-width;
    display: block;

    .category, .product {
      background-color: $white;
      box-shadow: 2px 2px 10px 2px $light-grey;
      .no-boxshadow & {
        border: 1px solid $light-grey;
      }
      color: $dark-grey;
      display: block;

      &:hover {
        text-decoration: none;
      }

      .header {

        h3 {
          @media (max-width: $screen-xs-max) {
            text-align: center;
          }

          color: $green;
          margin-top: 12px;
          margin-bottom: 12px;
          margin-left: 12px;
          margin-right: 12px;

          &.three-lines {
            @include line-clamp($font-size-h3, $headings-line-height, 3);
          }
          &.two-lines {
            @include line-clamp($font-size-h3, $headings-line-height, 2);
          }
        }

        .photo {
          background-position: 50% 0;
          background-repeat: no-repeat;
          background-size: cover;
          &.contain {
            background-size: contain;
            background-position: center;
          }
          height: 193px;

          @media (max-width: $screen-xs-max) {
            max-width: 260px;
            margin: 10px 10px 0 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .content {
        padding-bottom: 12px;
        padding-left: 12px;
        padding-right: 12px;

        .description {
          margin-top: 12px;
          margin-bottom: 12px;

          @include line-clamp($font-size-base, $line-height-base, 3);
        }
      }
    }

    .product {
      .price {
        font-size: 26px;
        display: none;

        .inc_gst {
          font-size: 10px;
        }
      }

      .buttons {
        @media (max-width: $screen-xs-max) {
          .view-product, .add-to-wishlist {
            padding-left: 0;
            padding-right: 0;
            margin-top: $grid-gutter-width/2;
            background-color: $green;
            color: $white;
          }
        }

        @media (min-width: $screen-sm-min) {
          .view-product, .add-to-wishlist {
            .btn {
              padding: 6px 2px;
              font-size: 11px;
              line-height: 20px;
            }
          }

          .view-product {
            padding-left: 0;
            padding-right: $grid-gutter-width/8;
          }

          .add-to-wishlist {
            padding-left: $grid-gutter-width/8;
            padding-right: 0;
          }
        }
      }
    }

    /* mobile devices */
    @media (max-width: $screen-xs-max) {
      & {
        padding-left: 0;
        padding-right: 0;
      }
    }

    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      &:first-child {
        padding-left: 0;
      }

      &:nth-child(2n+3) {
        clear: left;
        padding-left: 0;
      }

      &:nth-child(2n+2) {
        padding-right: 0;
      }

      .category {
        .photo {
          height: 208px;
        }
      }
    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      &:first-child {
        padding-left: 0;
      }

      &:nth-child(3n+4) {
        clear: left;
        padding-left: 0;
      }

      &:nth-child(3n+3) {
        padding-right: 0;
      }

      .category {
        .photo {
          height: 179px;
        }
      }
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      &:first-child {
        padding-left: 0;
      }

      &:nth-child(4n+5) {
        clear: left;
        padding-left: 0;
      }

      &:nth-child(4n+4) {
        padding-right: 0;
      }

      .category {
        .photo {
          height: 160px;
        }
      }
    }
  }
}

#page-product-categories-hero {
  margin: 0;
  padding: 0;

  .category {
    list-style-type: none;
    margin-bottom: $grid-gutter-width;
    height: 350px;
    background-color: $white;
    box-shadow: 2px 2px 10px 2px $light-grey;
    .no-boxshadow & {
      border: 1px solid $light-grey;
    }
    color: $dark-grey;
    display: block;

    @media (max-width: $screen-xs-max) {
      height: auto;
    }

    .photo {
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: cover;
      &.contain {
        background-size: contain;
        background-position: center;
      }
      height: 100%;

      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }

    .details {
      padding-bottom: $grid-gutter-width/2;

      h3 {
        @media (max-width: $screen-xs-max) {
          text-align: center;
        }

        color: $green;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 12px;
        margin-right: 12px;
        font-size: $font-size-h3 * 1.5;

        &.three-lines {
          @include line-clamp(($font-size-h3 * 1.5), $headings-line-height, 3);
        }
        &.two-lines {
          @include line-clamp(($font-size-h3 * 1.5), $headings-line-height, 2);
        }
      }

      .description {
        margin-top: 12px;
        margin-bottom: 16px;

        // note: this doesn't seem to work well if there are <p> tags in the description
        @include line-clamp($font-size-base, $line-height-base, 9);
      }
    }
  }
}

#page-category-info {
  padding-bottom: $grid-gutter-width;

  .category_images_default {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;

    .row {
      &:first-child {
        margin-top: $grid-gutter-width;
      }
      margin-bottom: $grid-gutter-width;

      @media (max-width: $screen-xs-max) {
        .col-sm-6, .col-sm-3 {
          margin-bottom: $grid-gutter-width;
        }
      }
    }
  }
}

#page-product {
  margin-top: $line-height-computed;

  .photos {
    padding-left: 0;

    .image-disclaimer {
      color: $dark-grey;
      margin-top: $grid-gutter-width/2;
      font-style: italic;
      font-size: 0.9em;
    }
  }

  .product-overview {
    padding-right: 0;
    .price {
      display: none;
      font-family: $font-family-bold;
      color: $green;
      text-transform: uppercase;
      font-size: 22px;
      margin: 15px 0 2px 0;
    }
    .product-no {
      font-size: 17px;
      margin: 2px 0 15px 0;
    }
    .btn-add-to-wishlist {
      margin-top: 15px 0 30px 0;
      text-transform: uppercase;
    }
    .short-description {
      margin: 30px 0;
    }
  }

  .menu {
    margin-top: 70px;
    background-color: $lighter-grey;
    .links {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: block;
      float: left;

      li {
        line-height: 34px;
        text-transform: uppercase;
        float: left;
        margin-right: 20px;
      }
    }

    button {
      float: right;
    }
  }

  .specifications {
    .row {
      margin-bottom: $grid-gutter-width/2;
      .title {
        font-family: $font-family-bold;
      }
    }
  }

  .fitting {
    img {
      margin-right: 30px;
    }

    .file-size {
      margin-left: 30px;
    }
  }
}

#wishlist {
  ul.nav-tabs {
    li.completed {
      a {
        background-color: $green;
        color: $white;
      }
      a:hover {
        background-color: darken($green, 10%);
      }
      .badge {
        background-color: $white;
        color: $green;
      }
    }

    li.active {
      a {
        color: $green;
      }

      .badge {
        background-color: $green;
        color: $white;
      }
    }

    li.disabled {
      pointer-events: none;
    }

    li.incomplete {
      pointer-events: none;

      a {
        background-color: $lightest-grey;
        color: $light-grey;
      }

      a:hover {
        background-color: darken($lightest-grey, 10%);
      }

      .badge {
        background-color: $white;
        color: $light-grey;
      }
    }
  }

  .row.next {
    padding-top: $grid-gutter-width;
  }

  #wishlist-review {
    .notes {
      margin: $grid-gutter-width 0;
    }

    .row.header, .row.item, .row.update, .row.total, .row.next {
      @media (max-width: $screen-sm-max) {
        .col {
          padding-left: $grid-gutter-width/4;
          padding-right: $grid-gutter-width/4;

          .form-control {
            padding-left: 2px;
            padding-right: 2px;
          }
        }
        .product {
          padding-left: 0;
        }
      }

      @media (min-width: $screen-xs-min) {
        .image, .price-note {
          padding-left: 0;
        }
        .remove, .update-btn, .next-btn {
          padding-right: 0;
        }
      }

      @media (min-width: $screen-sm-min) {
        a {
          line-height: 34px;
          font-size: 17px;
          font-family: $font-family-bold;
        }
      }
    }

    .border {
      border-bottom: 1px solid $hr-border;
      border-top: 1px solid $hr-border;
      margin-left: 0;
      margin-right: 0;
    }

    .border-top {
      border-top: 1px solid $hr-border;
      margin-left: 0;
      margin-right: 0;
    }

    .header {
      line-height: 25px;
    }

    .row.header {
      .rrp, .subtotal {
        display: none;
      }
    }

    .row.item {
      margin: $grid-gutter-width/2 0;

      .qty {
        .form-control {
          text-align: center;
        }
      }

      .rrp, .subtotal {
        display: none;
        line-height: 34px;
      }

      .subtotal {
        font-family: $font-family-bold;
      }

      .image {
        .photo {
          background-position: 50% 0;
          background-repeat: no-repeat;
          background-size: cover;
          &.contain {
            background-size: contain;
            background-position: center;
          }

          @media (max-width: $screen-xs-max) {
            display: none;
          }
          @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            height: 100px;
          }
          @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            height: 130px;
          }
          @media (min-width: $screen-lg-min) {
            height: 150px;
          }
        }
      }
    }

    .row.update {
      padding: $grid-gutter-width*0.33 0;

      .price-note {
        display: none;

        @media (min-width: $screen-sm-min) {
          line-height: 34px;
        }
      }
      .update-btn {
        @media (max-width: $screen-sm-max) {
          .btn {
            padding-left: 2px;
            padding-right: 2px;
          }
        }
      }
    }

    .row.total {
      display: none;

      .title {
        font-family: $font-family-bold;
        font-size: 17px;
        text-transform: uppercase;

        @media (min-width: $screen-md-min) {
          line-height: 40px;
        }
      }

      .price {
        color: $green;
        font-size: 28px;
        font-family: $font-family-bold;
      }

      padding: $grid-gutter-width/2 0;
    }
  }

  #wishlist-details {
    .notes {
      margin: $grid-gutter-width 0;
    }

    .next-btn {
      padding-right: 0;
    }

    .form-group {
      &.receive-news {
        margin-bottom: 0;
      }

      @media (max-width: $screen-xs-max) {
        &>label, &>.fieldWithErrors>label {
          padding-left: 0;
          padding-right: 0;
        }

        .control {
          padding-left: 0;
          padding-right: 0;
        }

        &.vehicle-selector {
          .control {
            margin-bottom: $grid-gutter-width / 2;
            &.last {
              margin-bottom: 0;
            }
          }
        }
      }

      @media (min-width: $screen-sm-min) {
        &>label, &>.fieldWithErrors>label {
          padding-left: 0;
        }

        .control.single, .control.last {
          padding-right: 0;
        }
      }
    }
  }

  #wishlist-stockist {
    #stockists {
      .stockist {
        .btn.select-stockist {
          margin-top: 10px;
        }
      }
    }

    #map {
      margin-top: $grid-gutter-width/2;
    }

    /* for now, don't display the print button */
    .print {
      .btn.print {
        display: none;
      }
    }

    .email p {
      text-align: center;
    }

    .international {
      .international-user {
        color: $green;
        margin: $grid-gutter-width 0;
      }

      .select-regional-office {
        color: $dark-grey;
      }

      .select-stockist-button {
        margin-top: $grid-gutter-width/2;
      }

      .stockists-search {
        &.navbar-form {
          float: none !important;
          padding-left: 0;

          .btn {
            background-color: $dark-grey;
            border-color: darken($dark-grey, 20%);
            color: $white;
            margin-left: 40px;
          }
        }
      }
    }

    .australian {
      display: none;
    }
  }

  #wishlist-submission {
    padding-top: $grid-gutter-width/2;

    h4 {
      color: $dark-grey;
    }

    .price-note {
      margin: 10px 0 20px 0;
    }

    .row {
      .net-amount {
        display: none;
      }
    }
  }
}
