//= require jquery.ui.datepicker
//= require jquery.ui.slider
//= require jquery-ui-timepicker-addon
//= require chosen
//= require refinery/ironman/products
//= require refinery/admin/resources

#records {
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    td.actions {
      min-width: 100px;
      position: static;
      right: auto;
      top: auto;
      width: auto;
      display: table-cell;
    }
  }

  .record.draft {
    font-style: italic;
    color: grey;
  }
}
