//= require jquery.ui.datepicker
//= require jquery.ui.slider
//= require jquery-ui-timepicker-addon
//= require chosen
//= require refinery/ironman/products
//= require refinery/ironman/stockists
// used for direct to S3 uploads
// require refinery/admin/resources

#records {
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    td.actions {
      min-width: 100px;
      position: static;
      right: auto;
      top: auto;
      width: auto;
      display: table-cell;
    }
  }

  .record {
    &.draft {
      font-style: italic;
      color: grey;
    }

    .featured {
      color: red;
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }

    .homepage, .contact {
      color: blue;
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }

    .product-count, .vehicle-count {
      padding-left: 10px;
      color: grey;
      font-size: 0.9em;
      font-family: "roboto";
    }
  }
}

.remove_picked_image, .remove_picked_resource {
  background-image: image-url('refinery/icons/delete.png');
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  border-bottom: none !important;
  margin-left: 10px;
  margin-top: 0;
  display: inline-block;
}

.remove_picked_image {
  vertical-align: top;
}

.remove_picked_resource {
  vertical-align: middle;
}
#actions {
  .export-card {
    background: #EAEAEA;
    padding: 5px;
    display: none;

    h4 {
      border-bottom: 1px solid #fff;
      padding-bottom: 3px;
      margin: 5px 0px;
    }

    input[type="date"] {
      width: 127px;
    }

    &.opened {
      display: block;
    }
  }
}
#actions #import li  {
  background-color: #dbedff;
  background-position: 12px;
  background-repeat: no-repeat;
  border: 1px solid #65C3F7;
  display: block;
  padding: 9px 10px 9px 10px;
}
 .date-picker{
    width: 127px;
 }