//= require jquery.ui.datepicker
//= require jquery.ui.slider
//= require jquery-ui-timepicker-addon
//= require chosen
//= require refinery/ironman/products
// used for direct to S3 uploads
// require refinery/admin/resources

#records {
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    td.actions {
      min-width: 100px;
      position: static;
      right: auto;
      top: auto;
      width: auto;
      display: table-cell;
    }
  }

  .record {
    &.draft {
      font-style: italic;
      color: grey;
    }

    .featured {
      color: red;
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }

    .homepage {
      color: blue;
      font-weight: bold;
      font-size: 2em;
      vertical-align: middle;
    }
  }
}

.remove_picked_image, .remove_picked_resource {
  background-image: image-url('refinery/icons/delete.png');
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  border-bottom: none !important;
  margin-left: 10px;
  margin-top: 0;
  display: inline-block;
}

.remove_picked_image {
  vertical-align: top;
}

.remove_picked_resource {
  vertical-align: middle;
}
