  <div id="layout-acknowledgements">
    <div class="container">
      <div class="copyright"><%= t('.copyright') %></div>
      <div class="designed_by">
        <%= link_to t('.designed_by'), 'http://1bdesign.com' %>
      </div>
    </div>
  </div>
