  <div id="layout-fit-my-4x4">
    <div class="container">
      <div class="form-group clearfix vehicle-selector">
        <div class="col-sm-2 col-md-2 icon">
          <%= image_tag 'logo_fit_my_4x4.png' %>
        </div>

        <%= render 'refinery/ironman/fit_my_car/select_boxes' %>

        <div class="col-sm-1 col-md-1 button">
          <button type="submit" class="form-control go"><%= t('.go') %></button>
        </div>
      </div>
    </div>
  </div>
