  <div id="layout-fit-my-car">
    <div class="container">
      <div class="icon">
        <%= image_tag 'logo_fit_my_car.png' %>
      </div>

      <div class="vehicle-selector">
        <select class="form-control selector make"></select><!--
        --><select class="form-control selector model"></select><!--
        --><select class="form-control selector series"></select><!--
        --><button type="form-control submit" class="selector go"><%= t('.go') %></button>
      </div>
    </div>
  </div>
