  <div id="layout-fit-my-4x4">
    <div class="container">
      <%= form_tag refinery.ironman_products_path do %>
        <div class="form-group clearfix vehicle-selector">
          <div class="col-sm-2 col-md-2 icon">
            <%= image_tag 'logo_fit_my_4x4.png' %>
          </div>

          <%= render :partial => 'refinery/ironman/fit_my_car/select_boxes', :locals => {vehicle_1st_id: :vehicle_1st_id_fitmy4x4, vehicle_2nd_id: :vehicle_2nd_id_fitmy4x4, vehicle_3rd_id: :vehicle_3rd_id_fitmy4x4} %>

          <div class="col-sm-1 col-md-1 button">
            <button type="submit" class="form-control go"><%= t('.go') %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
