  <div id="layout-fit-my-car">
    <div class="container">
      <div class="icon">
        <%= image_tag 'nav_icon_wishlist.png' %>
      </div>

      <div class="description">
        <h3><%= t('.heading') %></h3>
        <div><%= t('.description') %></div>
      </div>

      <div class="vehicle-selector">
        <div class="selector make"></div><!--
        --><div class="selector model"></div><!--
        --><div class="selector series"></div>
      </div>
    </div>
  </div>
