<% if content_for?(:page_header) or content_for?(:body_content_title) or page_title.present? %>
<div id="layout-heading">
  <div class="container">
    <h1 class="page-header">
      <% if content_for?(:page_header) %>
        <%= yield :page_header %>
      <% elsif content_for?(:body_content_title) %>
        <%= yield :body_content_title %></span>
      <% elsif page_title.present? %>
        <%= page_title %>
      <% end %>
    </h1>

    <div class="icons">
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_email_large' displayText='Email'></span>
      <span class='st__large' displayText=''></span>
    </div>
  </div>
</div>
<% end %>
