<% cache(cache_key_for_categories) do %>
<div id="layout-homepage-categories">
  <div class="container clearfix">
    <% @homepage_categories.each do |category| %>
    <div class="category col-sm-5ths">
      <%
      if category.depth == 0
        url = refinery.product_categories_path(category)
      elsif category.depth == 1
        url = refinery.product_subcategories_path(category.parent, category)
      else
        url = refinery.product_sub_subcategories_path(category.parent.parent, category.parent, category)
      end
      %>
      <%= link_to url do %>
      <div class="photo" style="background-image:url(<%= if category.thumbnail_image.present? then category.thumbnail_image.thumbnail(geometry: "365x193").url else image_path 'category_list_photo_default.jpg' end %>)">
        <div class="name"><%= category.name %></div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
