<% if @slideshow_images.present? %>
  <% if @slideshow_image_width.present? and @slideshow_image_width == :full %>
    <% dimensions = '1920x450' %>
  <% else %>
    <% dimensions = '1140x450' %>
  <% end %>
<div id="layout-photo-slideshow" class="<%= (@slideshow_image_width.present? ? @slideshow_image_width : 'fixed-width') %>">
  <div u="slides" class='gallery<%= ' multiple' if @slideshow_images.size > 1 %>'>
    <% @slideshow_images.each do |image| %>
    <div class="slide"><%= image_tag(image.thumbnail(geometry: dimensions).url, u:'image') %></div>
    <% end %>
  </div>

  <% if @slideshow_images.size > 1 %>
  <div u="navigator" class="jssorb16">
      <div u="prototype"></div>
  </div>

  <span u="arrowleft" class="jssora02l"></span>
  <span u="arrowright" class="jssora02r"></span>
  <% end %>
</div>
<% end %>
