<div id="layout-store-search">
  <div class="container clearfix">
    <h3><%= t('.heading') %></h3>
    <%= render :partial => 'refinery/ironman/stockists/search_form', :locals => {:placeholder => t('.placeholder'), :submit_btn_text => t('.submit_btn_text') } %>
  </div>
</div>
